{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>

<body>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'add_article' %}">Add Article</a></li>
    </ul>

    <div class="wrapper">
        {% block content %}
        {% endblock content %}
    </div>
</body>

</html>
